html {
    background-color:#020659;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white
    
}
body {
    margin:0 auto;
}
header {
    background-color:#030A8C;
}

h1 {
    font-size:1.25em;
}
h2, h3 {
    font-size: 1em;
}
p, dl, dd {
    font-size: 1em;
}
footer p {
    font-size: .75em;
}

#smoothJazzBanner {
    background: rgb(0,5,255);
    background: linear-gradient(90deg, rgba(0,5,255,1) 0%, rgba(9,9,121,1) 43%, rgba(2,0,36,1) 100%);
    color:white;
}
nav {
    grid-row:1/2;
}
nav ul {
    text-align:center;
}
nav h2 {
    visibility:hidden;
    height:1px;
}
nav li {
    list-style:none;
}
nav li a {
    text-decoration:none;
    color:white;
}
#home {
    text-transform: capitalize;

}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}


@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}
div {
    width:100px;
    height:25px;
    text-align:center;
    background-color:#590242;
    color:white;
}